.vertical-align {
    display: inline-block;

    height: 100%;

    vertical-align: middle;
}
/* Site Colors */
.font-express {
    color: #11DFC7;
}
.clean-button.clean-button--primary {
    color: #FFF;
    border-color: #33C3F0;
    background-color: #33C3F0;
}
.clean-button.clean-button--primary:hover,
.clean-button.clean-button--primary:focus {
    border-color: #1EAEDB;
    background-color: #1EAEDB;
}
.bg-gradient {
    background: rgba(0,131,213,1);
    background: -moz-linear-gradient(-45deg, rgba(0,131,213,1) 0%, rgba(44,214,100,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,131,213,1)), color-stop(100%, rgba(44,214,100,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,131,213,1) 0%, rgba(44,214,100,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,131,213,1) 0%, rgba(44,214,100,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,131,213,1) 0%, rgba(44,214,100,1) 100%);
    background: linear-gradient(135deg, rgba(0,131,213,1) 0%, rgba(44,214,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0083d5', endColorstr='#2cd664', GradientType=1 );
    color: #FFF;
}
.bg-gradient h2 {
    font-weight: 300;
}

/* Site Styles */

.hero .headline {
    display: inline-block;

    vertical-align: middle;

    white-space: normal;
}
.hero .tagline {
    font-weight: 300;
}
.hero img {
    display: inline-block;
    vertical-align: middle;
}
.hero .nexus {
    position: absolute;
    max-width: 150px;
    bottom: 0;
}


@media screen and (min-width: 35.5em) {
    section {
        padding: 3em;
    }
    .hero .clean-unit-1-1 {
        height: 300px;
        white-space: nowrap;
    }
    .hero .tagline {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 48em) {
    section {
        padding: 5em;
    }
    .hero .tagline {
        font-size: 1.75em;
    }
}
@media screen and (min-width: 64em) {
    section {
        padding: 7em;
    }
    .hero .clean-unit-1-1 {
        height: 350px;
    }
}
