//====================================================
//  Buttons
//====================================================

.clean-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1em;

    display: inline-block;
    zoom: 1;

    margin: .25em 0;
    padding: .5em 1em;

    cursor: pointer;
    user-select: none;
    transition: all linear .2s;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    color: $accent;
    border-width: $border-1;
    border-style: $border-style;
    border-color: $accent;
    border-radius: 6px;
    background: 0;

    user-focus: normal;
    &.clean-button--primary {
        color: $white;
        background-color: $accent;
    }
    &.clean-button--pill {
        border-radius: 24px;
    }
    &.clean-button--xs {
        font-size: 70%;
    }
    &.clean-button--sm {
        font-size: 85%;
    }
    &.clean-button--lg {
        font-size: 110%;
    }
    &.clean-button--xl {
        font-size: 125%;
    }
    &:focus {
        outline: 0;
        outline: -webkit-focus-ring-color none;
    }
    &:hover,
    &:focus {
        text-decoration: none;

        opacity: .8;
        color: $white;
        border-color: $accent;
        background-color: $accent;
    }
    &:active {
        transform: translateY(1px);

        color: $white;
        border-color: $accent;
        background-color: $accent;
        box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
    }
    &[disabled] {
        cursor: not-allowed;

        opacity: .4;
    }
    @each $name, $color in $colors {
        &.clean-button--#{$name} {
            color: #{$color};
            border-color: #{$color};
        }
        &.clean-button--#{$name}.clean-button--primary {
            color: $white;
            background-color: #{$color};
        }
        &.clean-button--#{$name}:hover,
        &.clean-button--#{$name}:focus {
            @extend .clean-button.clean-button--#{$name}.clean-button--primary;
        }
    }
}
