$unit-sizes: 1, 2, 3, 4, 5, 12;

//====================================================
//  Clean Grid
//====================================================

.clean-grid {
    display: -webkit-flex;
    display: -ms-flexbox;

    letter-spacing: -.31em;

    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.clean-grid {
    word-spacing: -.43em;
}

.clean-unit {
    display: inline-block;
    zoom: 1;

    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;

    text-rendering: auto;
}

@each $unit-size in $unit-sizes {
    @for $i from 1 through $unit-size {
        .clean-unit-#{$i}-#{$unit-size} {
            width: 100% * ($i/$unit-size);

            @extend .clean-unit;
        }
    }
}
