$menuitems: 10!default;

//====================================================
//  Tabbed Menu
//====================================================
.clean-menu {
    ul.clean-menu-nav,
    ul.clean-menu-nav li,
    ul.clean-menu-list,
    ul.clean-menu-list li {
        padding: 0;
    }
    ul.clean-menu-nav {
        position: relative;

        user-select: none;
        &:before {
            position: absolute;
            z-index: -1;

            display: block;

            width: 100%;
            height: 100%;

            content: "";
        }
    }
    // Vertical Menu
    &.clean-menu--vertical {

        ul.clean-menu-nav {
            // height: 100%;
            &:before {
                top: 0;
                right: 0;

                border-right: 2px solid $lightsilver;
            }
            li {
                display: block;

                width: 100%;
                a,
                button,
                label {
                    display: block;

                    padding: .8em .8em;

                    cursor: pointer;
                    text-decoration: none;
                }
                &:hover {
                    border-right: 2px solid $silver;
                }
                &.clean-menu--active {
                    @extend .clean-menu-vertical--active;
                }
            }
            .icon {
                font-size: 2em;

                display: inline-block;

                vertical-align: middle;
            }
        }
        ul.clean-menu-list li {
            padding: 2em;
        }
        @for $i from 1 through $menuitems {
            input:nth-of-type(#{$i}):checked ~ ul.clean-menu-nav li:nth-of-type(#{$i}) {
                @extend .clean-menu-vertical--active;
            }
        }
    }
    &.clean-menu--horizontal {

        ul.clean-menu-nav {
            &:before {
                bottom: 0;
                left: 0;

                border-bottom: 2px solid $lightsilver;
            }
            li {
                display: inline-block;

                border-bottom: 2px solid transparent;
                a,
                button,
                label {
                    display: block;

                    padding: .5em .8em;

                    cursor: pointer;
                    text-decoration: none;
                }
                &:hover {
                    border-bottom: 2px solid $silver;
                }
                &.clean-menu--active {
                    @extend .clean-menu-horizontal--active;
                }
            }
            .icon {
                display: none;
            }
        }
        ul.clean-menu-list li {
            padding: 2em;
        }
        @for $i from 1 through $menuitems {
            input:nth-of-type(#{$i}):checked ~ ul.clean-menu-nav li:nth-of-type(#{$i}) {
                @extend .clean-menu-horizontal--active;
            }
        }
    }
    &.clean-menu--responsive {
        @include max-md {
            // Horizontal Menu Responsive
            ul.clean-menu-nav {
                &:before {
                    bottom: 0;
                    left: 0;

                    border-bottom: 2px solid $lightsilver;
                }
                li {
                    display: inline-block;

                    border-bottom: 2px solid transparent;
                    a,
                    button,
                    label {
                        display: block;

                        padding: .5em .8em;

                        cursor: pointer;
                        text-decoration: none;
                    }
                    &:hover {
                        border-bottom: 2px solid $silver;
                    }
                }
                .icon {
                    display: none;
                }
            }
            ul.clean-menu-list li {
                padding: 2em;
            }
            @for $i from 1 through $menuitems {
                input:nth-of-type(#{$i}):checked ~ ul.clean-menu-nav li:nth-of-type(#{$i}) {
                    border-bottom: $border-2 $border-style $accent;
                }
            }
        }
        @include min-md {
            // Vertical Menu Responsive
            ul.clean-menu-nav {
                &:before {
                    top: 0;
                    right: 0;

                    border-right: 2px solid $lightsilver;
                }
                li {
                    display: block;

                    width: 100%;
                    a,
                    button,
                    label {
                        display: block;

                        padding: .8em .8em;

                        cursor: pointer;
                        text-decoration: none;
                    }
                    &:hover {
                        border-right: 2px solid $silver;
                    }
                }
                .icon {
                    font-size: 2em;

                    display: inline-block;

                    vertical-align: middle;
                }
            }
            ul.clean-menu-list li {
                padding: 2em;
            }
            @for $i from 1 through $menuitems {
                input:nth-of-type(#{$i}):checked ~ ul.clean-menu-nav li:nth-of-type(#{$i}) {
                    border-right: $border-2 $border-style $accent;
                }
            }
        }
    }
    ul.clean-menu-list > li {
        display: none;
    }
    .clean-menu-list--active {
        display: block;
    }
    @for $i from 1 through $menuitems {
        input:nth-of-type(#{$i}):checked ~ ul.clean-menu-list li:nth-of-type(#{$i}) {
            @extend .clean-menu-list--active;
        }
    }
}
.clean-menu-vertical--active {
    border-right: $border-2 $border-style $accent;
}
.clean-menu-horizontal--active {
    border-bottom: $border-2 $border-style $accent;
}
