//====================================================
//  Blockquote
//====================================================

blockquote {
    font-style: italic;
    padding: 0.5em 1em;
    margin: 0 0 1em;
    border-left: 5px solid $lightsilver;

    & small {
        font-style: normal;

        &:before {
            content: '\2014 \00A0';
        }

    }

}

//====================================================
//  Pricing Tags
//====================================================

.price {
    font-size: 2em;
    font-weight: 300;
}
.price span {
    font-size: .6em;

    margin: 0 2px;

    vertical-align: top;
}

//====================================================
//  Rating Stars
//====================================================

.clean-rating {
    text-align:center;
    direction: rtl;

    user-select: none;

    & label:before {
        width: 1em;
        height: 1em;
        line-height: 1em;
        font-size: 1.5em;

        content: '\2606';
    }

    & input[type="radio"]:checked ~ label:before {
        content: '\2605';
        color: $orange;
    }

    & label:hover:before,
    & label:hover ~ label:before {
        content: '\2605';
        cursor: pointer;
    }

    & label:active {
        position:relative;
        top: 1px;
    }
}
